Before Promises We Had Callbacks!

<script>
	asyncFunction(function(){
		//do when asyncFunction is done
	})
</script>

- The problem is: there is no easy and straightforward way to pass the results of asyncFunction back to its caller
- Especially if the real recipient of the result is a few layers away (one service calling another service calling asyncFunction)
- Call Back Hell !!! Imagine three nested asyncFunctions. You have to wait for all of them to complete to use ANY of the results
- Very difficult to run these async functions in parrel or even deal with error handling


Promise (Angular Js and New ES6 API)
------------------------------------

- Object which can be passed around or returned that holds references to the outcome of asynchronous behavior.
- In Angular, promises are created through the $q service

<script>
	function asyncFunction(){
		// Creates async environment with all the hooks into it, including the promise object
		var deferred = $q.defer();

		// Marks succesful completion, wraps data for the promise
		if (...){
			deferred.resolve(result);
		};

		// Marks unsuccesful completion, wraps data for the promise
		else {
			deferred.reject(error);
		};

		// Returns promise to caller (a hook back to this entire process)
		return deferred.promise;
	}
</script>

- Keep in mind the if and else statements can be done asynchronously.


Next Step:

<script>
	var promise = asyncFunction();

	promise.then(

	function(result){
		//do something with result
	},

	function(error){
		//do something with error
	});
</script>

- A promise is something that can be passed around throughout application
- The 'then' function is also chainable because it itself also returns a promise


The $q 'q service' has the ability to resolve multiple promises asynchronously so you don't need to wait for all to be finished:

<script>
	$q.all([promise1, promise2])

	.then(function(result){
		//do something with result
	})

	.catch(function(error){
		//handle error
	})
</script>

- This also allows a central place to handle all results and all errors from any of the promises!!! (execute in parallel)
- HOWEVER, if any of the promises comes up with an error, all the promises won't activate and will jump to catch method
- Remember: promises either get resolved or rejected
- The then method takes two functions as arguments




$http Service
--------------

<script>
	$http({
		method: 'GET',
		url: 'http://someurl',
		params: {param1: 'value1'}
	})
	.then(...);
</script>

- The $http service returns a promise, so you are able to return a then method
- The url is the only required property
- If not method is specified, GET is assumed
- Params is used to encode certain parts into the url, ex: http://someurl?param1=value1

<script>
	$http({
		url: 'http://someurl'
	})
	.then(
		function success(response){
			// do something with response.data
		},
		function error(response){
			// do something with error response
		});
</script>

- You can use a special function which gets invoked on the angular module to define constant variables: 

<script>
	angular.module('starter', [])
	.constant('ApiBasePath', 'someurl');
</script>

- Then you need to inject it into any service you want to use it in





Directives
------------

- In angular, compilation happens in the beginning when you load your html page or template
- A directive is a marker on a DOM element that tells Angular's HTML compiler to attach a specified behavior to that DOM element
- The compiler can even transform/change the DOM elements and its children
- A marker can be an attribute, element name, comment, or CSS class


How to create custom directive
------------------------------

Step 1: Register Directive

<script>
	angular.module('starter', [])
	.directive('myTag', MyTag);
</script>

- 'myTag' = normalized name that will appear in HTML
- 'MyTag' = factory function - returns DDO: Directive Definition Object


Step 2: Define Factory Function

<script>
	MyTag.$inject = [...];
	//Note you can inject other services into custom directives

	function MyTag(...){
		//ddo is the directive defintion object
		var ddo = {
			template: 'Hello World!'
			...
		};

		return ddo;
	}
</script>


Step 3: Use in HTML

<my-tag></my-tag>

- Note that the name is NOT 'myTag' but 'my-tag'
- it converts in from dash notation to camel case notation
- remove '-', concatinate, capitalize second work, so it looks for 'myTag'


* Unless specified otherwise, the scope of your directive will be the scope of the containing controller *


- Instead of using a 'template' property, you can use 'templateUrl' and supply an html file name. Inside
the file, you would put the code you want to display.



Restrict DDO Property
----------------------

<script>
	function myDirective(){
		var ddo = {
			restrict: 'AE',
			...
		};

		return ddo;
	}
</script>

- The default restrict is 'AE', attribute/element, which means your directive could be either or
- Restrict to 'A', attribute, if directive is extending behavior, such as ng-repeat
- Restrict to 'E', element, if directive is defining a component with an associated template, such as <list-item>
- The DDO's restrict property determines what Angular compiler should look for to detect your custom directive
- Using directive as a different restrict type will cause the compiler to completely ignore it



Isolate Scope
--------------

<script>
	function myDirective(){
		var ddo = {
			scope: {},
			...
		};

		return ddo;
	}
</script>

- The open brackets '{}' signals isolate scope, e.g., Parent Scope is NOT inherited


Bidirectional Property Binding:

<script>
	function myDirective(){
		var ddo = {
			scope: {
				myProp: '=attributeName'
			},
			...
		};

		return ddo;
	}
</script>

- 'myProp' is a local scope property
- 'attributeName' is the HTML template attribute name
- '=' signifies bidirectional binding, if you change the parent scope the child scope changes and vica versa
- If you don't add the attribute name and just leave '=' angular assumes the attribute is named as the same as property name: 'my-prop'
- If you use '=?' this signfies that the attribute is optional


<my-directive my-prop="outerProp">
</my-directive>

- attributes follow the same camelCase normalization my-prop => myProp


DOM Attribute Property Binding:

<script>
	function myDirective(){
		var ddo = {
			scope: {
				myProp: '@myAttribute'
			},
			...
		};

		return ddo;
	}
</script>

- '@myAttribute' binds myProp to the value of DOM attribute 'my-attribute'
- the value assigned to 'myProp' is always a string

<my-directive my-attribute="{{outerProp}}">
</my-directive>

- this set up behaves like 1 way binding
- as the value of outerProp changes, so does the value of my-attribute and so does the value of myProp inside the directive

Nothing stopping us from doing this:

<my-directive 
	my-attribute="Hi + {{outerProp + '!'}}">
</my-directive>


- Having isolate scope on the directive:	
	- breaks the prototypal inheritence of the scope from the parent
	- makes the directive more independent, less coupled with the controller
- We pass values into the directive using scope bindings
- Bidirectional binding ('=') is such that directive scope property change affects the bound property and vica versa
- DOM attribute value binding ('@') always results in directive property being a string
	- Changes to the DOM attribute value are propogated to the directive property, but not the other way around



Using Controllers Inside Directives
-----------------------------------

Step 1: Declare Controller in Directive

<script>
		function myDirective(){
		var ddo = {
			scope: {
				myProp: '='
			},
			controller: ControllerFunction,
			bindToController: true,
			controllerAs: 'myCtrl',
			templateUrl: 'template.html'
		};

		return ddo;
	}
</script>

- 'bindToController' = attach declared scope properties to controller instance instead of directly to $scope
- 'controllerAs' = Use 'myCtrl' in directive's template to refer to controller instance


Step 2: Define Controller

<script>
	ControllerFunction.$inject = ['Service'];

	function ControllerFunction(Service){
		var myCtrl = this;

		myCtrl.method = function(){
			var name = 'Hello ' + myCtrl.prop;
			...
		};
	}
</script>

- 'myCtrl.prop' = Use (and manipulate) props in isolate scope


Step 3: Use in Directive's Template:

<div ng-if="myCtrl.method()">
	{{myCtrl.prop}}
</div>



Bi-directional vs One-Way Binding:

- it is best practice not to change the value of prop within a directive
- thus, using bidirectional binding or '=' is a waste of resources ($watchers)
- to use one way binding, use '<'
	- one way binding watches only the identity of the parent property, not the property inside the directive

- To add functionality to the directive, one choise is to use a controller that's declared directly on the DDO
- Use controller property to declare controller in DDO
- Use 'bindToController' and 'controllerAs' props to bind declared properties in isolate scope directly to controller instance
- Define controller as usual
- Whenever possible, use '<' for one-way binding to save resources instead of bidirectional binding with '='





Directive APIs, Manipulating the DOM, and transclude
------------------------------------------------------

How to call a method on the parent scope from the child directive?


Step 1: Define Method in Controller

<script>
	function Controller(){
		this.method = function(arg1){
			this.prop = 'Hi' + arg1;
		};
	}
</script>

- 'this' in both places refers to parent controller instance
- 'arg1' needs to come from child directive



Step 2: Declare Method Reference in Directive

<script>
	function MyDirective(){
		var ddo = {
			scope: {
				myMethod: '&method'
			},
			...
			templateUrl: 'template.html'
		};

		return ddo;
	}
</script>

- 'myMethod' serves as property name to reference parent method in directive
- '&method' is the attribute name to use in parent template on this directive



Step 3: Declare in Parent's Template

<div ng-controller="Controller as ctrl">
	<my-directive method="ctrl.method(myArg)">
	</my-directive>
</div>

- .method is a reference to method in controller
- myArg is a placeholder label for value to be passed in from directive



Step 4: Map Method and Args in Directive's Template
-----------------------------------------------------

<button
	ng-click="dirCtrl.myMethod({myArg:'v1'});">
	Remove Item
</button>

- .myMethod is the method name from isolate scope mapping
- {myArg: 'v1'} = we're using the name of the argument that parent made the call with and mapping some value to it from our directive
- So what we're passing to the method is a map object, not a simple argument 'myArg'


controller's template.html
----------------------------
<div ng-controller="Controller as ctrl">
	<my-directive method="ctrl.method(myArg)">
	</my-directive>
</div>

VS.

directive's template.html
-------------------------
<button
	ng-click="dirCtrl.myMethod({myArg:'v1'});">
	Remove Item
</button>

VS.

DDO
-----
<script>
	function MyDirective(){
		var ddo = {
			scope: {
				myMethod: '&method'
			},
			...
			templateUrl: 'template.html'
		};

		return ddo;
	}
</script>

- method in controller template is in reference to '&method' in the DDO
- if you want to use that method in the directive template, you have to use 'myMethod'
- make sure to pass in data from directive to controller by passing in an object whose 'key' matches the same name as the controller's argument


- '&' binding allows us to execute an expression (such as a function value) in the context of the parent scope
- Parent template must declare an attribute providing:
	- Method reference to call on the parent
	- Argument keys for directive to bind values to
- Directive:
	- Call the reference method
	- Provides a map of argument key to value pairs
	- Allows directive to pass data back to parent from isolate scope



Manipulating the DOM via the Link Function
-------------------------------------------

- Even though you shouldn't manipulate the DOM directly, you should have angular do it for you, you still can depending on
the situation
- Angular has access to Jquerylite and even allows you to include full jquery if needed
- Also, a better place to setup $watches is within the link function....


Step 1: Declare Link Function

<script>
	function MyDirective(){
		var ddo = {
			scope: {...},
			link: LinkFunction
			...
			templateUrl: 'template.html'
		};

		return ddo;
	}
</script>

Step 2: Define the Link Function

<script>
	function LinkFunction(scope, element, attrs, controller){
		...	
	}

	//Note this is not $scope, it is the scope passed from the directive
	//Element represents the top level element of the directive
	// It is a wrapper of the dom element, but if jquery is included, it is the reference to jquery itself
	// attrs is a reference to the attributes declared on the element
	// controller is the reference to the controller declared on this directive, if there is one
</script>

- to your link function you can also add a $watcher

<script>
	function LinkFunction(scope, element, attrs, controller){
		scope.$watch('someFunction()', function(newValue, oldValue){
			...

			if(newValue===true){
				displayCookieWarning();
			}
			else{
				removeCookieWarning();
			}
		})

		//If the function changes its value, the $watch function will fire
		// reference functions need to be defined within overall LinkFunction

		function displayCookieWarning(){
			//Using Angular jqLite
			var warningElem = element.find('div');
			warningElem.css('display', 'block');
		}

		function removeCookieWarning(){
			//Using Angular jqLite
			var warningElem = element.find('div');
			warningElem.css('display', 'none');
		}
	}
</script>

- DOM manipulation is usually done inside of the link function
	- declared on the DDO
- Link Function does not support injection
	- to use injected components, services, or other controllers, inject them into the directive declartion
- 'scope' parameter is the exact $scope in directive's controller
- 'element' object represents the element of the directive
	- top level element
	- its jqLite object or jQuery object (if jQuery is included)



Using Directive's Transclude to Wrap other Elements
-----------------------------------------------------

- essentially passing in template.html via ddo to work with arbitrary code that gains access to parent scope


Step 1: Set transclude to true

<script>
	function MyDirective(){
		var ddo = {
			scope: {...},
			transclude: true,
			...
			templateUrl: 'template.html'
		};

		return ddo;
	}	
</script>


Step 2: Wrap Some Parent Content

<my-directive>
	<span>
		Warning! Warning! {{ctrl.someProp}}
	</span>
</my-directive>

- the expression is evaluated in the parent controller, not in our directive


Step 3: ng-transclude To Place Wrapped Content

<div>
	<div ng-transclude></div>
</div>

- insert evaluated wrapped content into element marked with ng-transclude

- transclude allows whole templates to be passed into the directive
- the wrapped content is evaluated in the parent's context, NOT in the directive's context
- In the DDO:
	- transclude: true
- In the directive's template:
	- ng-transclue attribute designates place for evaluated wrapped content