<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

<body ng-app="ShoppingListApp">
   <div ng-controller="ShoppingAddController as add">
     <input type="text" ng-model="add.amount" placeholder="Add amount of ingredient">
     <input type="text" ng-model="add.name" placeholder="Add name of ingredient">
     <button ng-click="add.saveList();">Click to add to list</button>
   </div>

   <div ng-controller="ShoppingShowController as show">
     <ol>
       <li ng-repeat="item in show.list">
         {{item.amount}} of {{item.name}}
         <button ng-click="show.remove($index);">Remove</button>
       </li>
     </ol>
   </div>

</body>
</html>